.img-container {
    height: 600px;
    background: rgb(245, 243, 241)
}



img {
    width: 450px;
    height: 450px
}

@media (max-width:992px) {
    img {
        width: 80%;
        height: 350px;
    }

    .img-container {
        height: 450px;
    }
}