/* #root {
  height: 100%;
} */

.app {
  height: 100vh;
  position: relative;
  display: grid;
  /* grid-template-rows: 50px 1fr 100px; */
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav"
    "content"
    "footer";
  row-gap: 5px;
}

.header {
  /* grid-row: 1/2; */
  grid-area: nav;
}

.changable-content {
  margin-top: 60px;
}

.footer {
  grid-area: footer;
}

.overflow-hidden {
  overflow-y: hidden;
}